button  {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 6px 14px;
  margin: 4px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor:pointer;
}

button:disabled {
    background: gray;
}

input {
    padding: 5px 3px;
    border-radius: 6px;
    border: 2px solid #367AF6;
    color: #367AF6;
}

h1 {
  font-family: math;
    font-size: 36px;
    color: blue;
    font-weight: bold;
    margin: 10px 0px;
}
.db {
    background: gray;
    cursor: not-allowed;    
}

.menuItem {
  font-family: Arial;
  padding: 8px;
  margin: 3px;
  background: #417deb;
  width: 100px;
  color: rgb(245, 244, 248);
  cursor: pointer;
}

.menuItem:hover {
  background: #6941eb;
}

.menuItemSel {
  font-family: Arial;
  padding: 8px;
  margin: 3px;
  background: #0b4cc6;
  width: 100px;
  color: rgb(245, 244, 248);
}

.sideMenu {
  margin-right: 8px;
  background: rgb(208 245 254);
  width: 126px;
}